
.ad
{
    width: 89%;
    height: 250px;
    margin-left: 5%;
    border: 1px solid #4a4a4a;
    overflow: hidden;
    margin-top: 10px;
}
.bottom
{
    width: 560px;
    height: 40px;
    background-color: #ffffff;
    margin-top: 60px;
    margin-left: 31%;
    z-index: 1;
    border-radius: 20px 20px;
    border: 1px solid #4a4a4a;

}
.bottom_left
{
    width: 481px;
    height: 40px;
    background-color: #e7e7e7;
    border-radius: 20px 0 0 20px;
}
.bottom_right
{
    width: 80px;
    height: 40px;
    background-color: #4a4a4a;
    border-radius: 0 20px 20px 0;
    float: right;
    margin-top: -40px;
    margin-right: -1px;
}
.bottom_right p
{
    text-align: center;
    color: #e7e7e7;
    font-size: 18px;
    word-spacing: 10px;
    line-height: 40px;
}

.bottom_left_icon
{
    display: inline-block;
    width: 40px;
    height: 40px;
    float: right;
    color: #4a4a4a;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}
.search_text
{
    width: 410px;
    height: 36px;
    float: right;
    margin-top: 1px;
    background-color: #e7e7e7;
    border: none;
    outline: medium;
}